.mock-outer{
  background-color: rgb(255, 255, 255);
  color: rgb(20, 24, 35);
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: auto;
  line-height: 16.0799999237061px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: left;
  width: 95%;
  word-wrap: break-word;
  }

  .mock-outer p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .mock-inner{
      direction: ltr;
      display: block;
      height: auto;
    
      width: 100%;
  }
  
  .usertext{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  height: auto;
  line-height: 19.3199996948242px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  width: auto;
  word-wrap: break-word;

  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
  
  .mock-img-all{
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1.5px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1.5px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  border-radius: 10px;
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 366px;
  line-height: 16.0799999237061px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  z-index: 0;
    margin: 5px;

  }
  .mock-img{
    color: rgb(20, 24, 35);
  direction: ltr;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 246px;
  line-height: 0px;
  position: relative;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
overflow-y: hidden;
overflow-x: hidden;
display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden

  }

  .mock-img img {

      object-fit: cover;
      min-width: 100%;
      min-height: 100%
  }

  .mock-title{
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;

  height: 100px;

  word-wrap: break-word;

  }
  .mock-title2{
  direction: ltr;
  display: block;
  font-size: 12px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  max-height: 100px;
  position: relative;

  }
  .mock-title-top{
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: auto;
  line-height: 22px;
  margin-bottom: 5px;
  max-height: 110px;
  overflow-wrap: normal;
  overflow-y: hidden;
  text-align: left;
  text-decoration: none;
  width: 100%;
  word-wrap: break-word;

  }
  .mock-title-mid{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  max-height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  width: 100%;
  word-wrap: break-word;

  }
  .mock-title-cap{
  direction: ltr;
  display: block;
  height: 11px;
  padding-top: 9px;
  position: relative;
  width: 446px;


  }
  .mock-title-cap-text{
  color: rgb(145, 151, 163);
  direction: ltr;
  display: block;
  font-size: 11px;
  height: 11px;
  line-height: 11px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 446px;
  word-wrap: break-word;
  }
.fb-group-picrow{
      color: rgb(20, 24, 35);
  direction: ltr;
  display: flex;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  margin-bottom: 11px;
  text-align: left;
}

.fbh5{
      color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 19px;
  line-height: 19.3199996948242px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: px;
  margin-top: 0px;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 22px;
  padding-top: 0px;
  text-align: left;
  width: auto;
}
.fb-group-text{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  text-align: left;
  width: 422px;
  word-wrap: break-word;
}
.fb-group-date{
      color: rgb(145, 151, 163);
  direction: ltr;
  display: inline;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: auto;
  line-height: 16.0799999237061px;
  text-align: left;
  width: auto;
}
.fb-group-text-top{
      color: rgb(20, 24, 35);
  direction: ltr;
  display: table-cell;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  text-align: left;
  vertical-align: top;
  width: 422px;
}
.fb-group-picrow img{
  border: 1px solid black;
  display: block;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  text-align: left;
  float:left;
  margin-right: 8px;
  
}

.emoji-button {
  width: 25px;
  height: 25px;
}
